@font-face {
    font-family: Roboto;
    src: url('./Assets/Roboto/Roboto-Regular.ttf');
}
*{
    font: 1em Roboto;
    margin: 0%;
}
.background-header{
    background-color: #1F2937 ;
    height: 500px;
}
.navbar{
 display: flex;   
 padding-bottom: 100px;
}
.navbar-right{
    display: flex;
    width: 50%;
    gap: 50px;
    padding-left: 150px;
}
.navbar-left{  
    padding-top: 18px;
    width: 50%;
}
.header-logo{
    font-size: 26px;
    font-weight: bolder;
    color: #F9FAF8;
    padding-left: 230px;
}
.header-link-1{
    padding-top: 25px;
    font-size: 18px;
    color: #e5e7eb;
}
.header-link-2{
    padding-top: 25px;
    font-size: 18px;
    color: #e5e7eb;
}
.header-link-3{
    padding-top: 25px;
    font-size: 18px;
    color: #e5e7eb;

}
.hero{
    display: flex;
    padding-left: 200px;
    gap: 10px;
    height: 252px;
}
.hero-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    
}
.hero-right{
    width: 50%;
    background-color: grey;
    margin-right: 71px;
    text-align: center;
    padding-top: 115px;
}
.hero-main-text{
    font-size: 48px;
    font-weight: 900;
    color: #FAF9F8;
}
.hero-secondary-text{
    padding-top: 10px;
    font-size: 18px;
    color: #e5e7eb;
    padding-right: 30px;
    padding-bottom: 17px;
}
.signup-button{
    text-align: center;
    height: 35px;
    width:100px;
    background-color: #3882F6;
    border: none;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    font-weight: bolder;
}

