@font-face {
    font-family: Roboto;
    src: url('./Assets/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: Roboto-Bold;
    src: url('./Assets/Roboto/Roboto-Bold.ttf');
}
*{
    margin: 0%;
}
.background-header{
    background-color: #1F2937 ;
    height: 600px;
}
.navbar{
 display: flex;   
 padding-bottom: 100px;
}
.navbar-right{
    padding-top: 10px;
    font: 1em Roboto;
    display: flex;
    width: 50%;
    gap: 50px;
    padding-left: 150px;
}
.navbar-left{  
    padding-top: 18px;
    width: 50%;
}
.header-logo{
    font: 1em Roboto;
    font-size: 20px;
    color: #F9FAF8;
    padding-left: 200px;
}
.header-link-1{
    padding-top: 25px;
    font-size: 18px;
    color: #e5e7eb;
}
.header-link-2{
    padding-top: 25px;
    font-size: 18px;
    color: #e5e7eb;
}
.header-link-3{
    padding-top: 25px;
    font-size: 18px;
    color: #e5e7eb;

}
.hero{
    display: flex;
    padding-left: 200px;
    gap: 10px;
    height: 252px;
}
.hero-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 100px;
    
}
.hero-right{
    font: 1em Roboto;
    color: #FAF9F8;
    width: 50%;
    font-size: 10px;
    margin-right: 225px;
    background-color: grey;
    text-align: center;
    padding-top: 115px;
}
.hero-main-text{
    font: 1em Roboto-Bold;
    font-size: 48px;
    font-weight: 900;
    color: #FAF9F8;
}
.hero-secondary-text{
    font: 1em Roboto;
    padding-top: 10px;
    font-size: 18px;
    color: #e5e7eb;
    padding-right: 30px;
    padding-bottom: 17px;
}
.signup-button{
    font: 1em Roboto;
    text-align: center;
    height: 35px;
    width:100px;
    background-color: #3882F6;
    border: none;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    font-weight: bolder;
}

.random-info-area{
    padding-top: 30px;
    padding-bottom: 30px;
    height: 475px;
    color: bisque;
}
.random-info-text{
    text-align: center;
    font: 1em Roboto-Bold;
    font-weight: bolder;
    color: #1F2937;
    font-size: 36px;
    padding-bottom: 50px;
}
.photos-with-subtext{
    display: flex;
    height: 400px;
    margin-right:  15%; ;
    margin-left: 15%;
    gap: 70px;
    justify-content: center;
}
.a1{
    display: flex;
    flex-direction: column;
    width: 25%;
}
.a2{
    display: flex;
    flex-direction: column;
    width: 25%;
}
.a3{
    display: flex;
    flex-direction: column;
    width: 25%;
}
.a4{
    display: flex;
    flex-direction: column;
    width: 25%;
}
.photo1{
    border: 1px solid #3882F6;
    height: 200px;
    border-width: 5px;
    border-radius: 25px;
    background-color: #e5e7eb;
}
.photo2{
    border: 1px solid #3882F6;
    height: 200px;
    border-width: 5px;
    border-radius: 25px;
    background-color: #e5e7eb;
}
.photo3{
    border: 1px solid #3882F6;
    height: 200px;
    border-width: 5px;
    border-radius: 25px;
    background-color: #e5e7eb;
}
.photo4{
    border: 1px solid #3882F6;
    border-width: 5px;
    border-radius: 25px;
    height: 200px;
    background-color: #e5e7eb;
}
.photo1-text{
    padding-top: 10px;
    font: Roboto;
    font-size: 25px;
    color: #1F2937;
    text-align: center;

}
.photo2-text{
    padding-top: 10px;
    font: Roboto;
    font-size: 25px;
    color: #1F2937;
    text-align: center;

}
.photo3-text{
    padding-top: 10px;
    font: Roboto;
    font-size: 25px;
    color: #1F2937;
    text-align: center;

}
.photo4-text{
    padding-top: 10px;
    font: Roboto;
    font-size: 25px;
    color: #1F2937;
    text-align: center;
}
.testimonial{
    height: 530px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.testimonial-main-text{
    font: 1em Roboto;
    padding-left:20% ;
    padding-right:20% ;
    color: #1F2937;
    font-style:italic;
    font-size: 36px;
}
.testimonial-subtext{
    padding-top: 10px;
    font: 1em Roboto-Bold;
    padding-left:20% ;
    padding-right:20% ;
    text-align: right;
    font-size: 25px;
    color: #1F2937;
}
.call-to-action-area{
    height: 300px;
}
.call-to-action-box{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    border-radius: 25px;
}
.call-to-action-left{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.call-to-action-right{
   
}
.call-to-action-sign-up{
    font: 1em Roboto;
    text-align: center;
    height: 50px;
    width:150px;
    background-color: #3882F6;
    border: 3px solid;
    border-color: #e5e7eb;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    font-weight: bolder;
}
.main-text{
    font: 1em Roboto;
    font-size: 36px;
    font-weight: 900;
    color: #FAF9F8;

}
.subtext{
    font: 1em Roboto;
    font-size: 18px;
    color: #e5e7eb;
}
.footer{
    height:120px;
    background-color: #1F2937;
}
.copyright{
    font: 1em Roboto;
    font-size: 18px;
    text-align: center;
    color: #e5e7eb;
    padding-top: 50px;
}